@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';
@import '../../utils/checked.scss';
@import '../../utils/heading.scss';

.services {
    
    &__list {
      width: 960px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    &__listItem {
      width: 248px;
      position: relative;
      padding-left: 48px;
      margin-bottom: 70px;
  
      &Svg {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
      }
    
      &Title {
        @include text-decor-mont-400(14px);
        color: $color-black;
        margin-bottom: 16px;
        text-transform: uppercase;
      }
  
      &About {
        @include text-decor-mont-400(12px);
        color: #b6b6b6;
      }
    }
  }