@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';
@import '../../utils/checked.scss';

.team {
    &__title {
      width: 120px;
      text-align: center;
      margin: 0 auto;
      @include text-decor-kaush-400-italic(19px);
      color: $color-black;
      margin-bottom: 17px;
      text-transform: capitalize;
    }
  
    &__subtitle {
      width: 256px;
      text-align: center;
      margin: 0 auto;
      @include text-decor-mont-700(24px);
      color: $color-black;
      margin-bottom: 70px;
      text-transform: uppercase;
      position: relative;
  
      &About {
        width: 776px;
        text-align: center;
        margin: 0 auto;
        @include text-decor-rob-400(12px);
        color: $color-black;
        margin-bottom: 72px;
      }
    }
  
    &__subtitle:after {
      position: absolute;
      display: block;
      content: "";
      width: 60px;
      height: 3px;
      background-color: $color-after;
      left: 95px;
      top: 55px;
    }
  
    &__listItemContainer {
      position: relative;
    }
  
    &__list {
      width: 960px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
  
      &Item {
        width: 304px;
  
        &Name{
          @include text-decor-mont-400(11px);
          color: #333333;
          text-align: center;
          margin-top: 24px;
          margin-bottom: 12px;
        }
  
        &Profession {
          @include text-decor-rob-300-italic(12px);
          color: #cacaca;
          text-align: center;
        }
      }
    }
  
    &__popUpList {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      // padding: 208px 76px 209px 77px;
      width: 100%;
      height: 100%;
      background: $linear-gradient;
      display: none;
  
      &Item:nth-child(-n+3) {
        margin-right: 2px;
      }
  
      &Link {
        width: 56px;
        height: 56px;
        background-color: $color-hover-menu;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      &Link:hover {
        background-color: $color-social-icons;
      }
  
      &Link:hover svg {
        fill: $color-white;
      }
  
      &Svg {
        fill: $color-social-icons;
        height: 26px;
      }
  
      &Facebook {
        width: 13px;
      }
  
      &Twitter {
        width: 26px;
        height: 22px;
      }
  
      &Pinterest {
        width: 21px;
      }
  
      &Instagram {
        width: 26px;
      }
    }
  
    &__listItemContainer:hover ul {
      display: flex;
    }
  
    &__listItemContainer:hover {
      box-shadow: 11px 11px 0 0 #95e1d3;
      transform: translate(-11px, -11px);
      transition-duration: 200ms;
      transition-timing-function: linear;
    }
}