.checked {
    border: 3px dashed red;
    background-color: rgba(224, 219, 219, 0.6);
    position: relative;
}

.checkedTag {
    border: 1px dashed red;
    background-color: rgba(241, 143, 143, 0.6);
}

.checkedTagBem {
    border: 1px dashed red;
    background-color: rgba(228, 222, 222, 0.6);
}